html, body {
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: #555;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

.app-component {
    display: block;
    margin: 50px auto 0;
    max-width: 300px;
    padding: 20px;
    width: 100%;
    text-align: center;

    h1 {
        b {
            color: #ffb400;
        }
    }

    .board {
        display: block;

        .cell {
            display: inline-block;
            height: 50px;
            border: 1px dashed #cacaca;
            float: left;
            position: relative;
            cursor: pointer;

            -webkit-transition: all 0.2s cubic-bezier(0,0,0,1);
            -o-transition: all 0.2s cubic-bezier(0,0,0,1);
            transition: all 0.2s cubic-bezier(0,0,0,1);

            &:hover {
                background: #f3f1f1;
            }

            &[data-active="true"] {
                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border: 10px solid transparent;
                }
            }
        }

        &[data-denied="true"] {
            .cell[data-active="true"] {
                background: rgba(#ffb400,.5);
            }
        }

        &[data-facing="NORTH"] {
            .cell[data-active="true"]:after {
                border-bottom-color: #ffb400;
                margin-top: -15px;
                margin-left: -10px;                
            }
        }

        &[data-facing="EAST"] {
            .cell[data-active="true"]:after {
                border-left-color: #ffb400;
                margin-top: -10px;
                margin-left: -5px;                
            }
        } 

        &[data-facing="SOUTH"] {
            .cell[data-active="true"]:after {
                border-top-color: #ffb400;
                margin-top: -5px;
                margin-left: -10px;                
            }
        } 

        &[data-facing="WEST"] {
            .cell[data-active="true"]:after {
                border-right-color: #ffb400;
                margin-top: -10px;
                margin-left: -15px;                
            }
        } 

        .board-controls {
            display: block;
            margin: 0 -1%;
            clear: both;
            padding-top: 20px;

            .bc-btn {
                display: inline-block;
                width: 23%;
                margin: 1%;
                padding: 0 10px;
                height: 35px;
                line-height: 35px;
                background: #f3f1f1;
                border: 1px dashed #cacaca;
                cursor: pointer;

                i {
                    pointer-events: none;
                }
                
                &:hover {
                    background: #ffb400;
                    color: white;
                }
            }
        }                     
    }
}